<div class="row col-md-12">
    <h5>Personal Projects.</h5>
</div>
<div class="row col-md-12">
    <p>In this section you can see the personal projects that I have worked in since I started to study the degree.</p>
    <p>I would like to remark that the projects are chronological order, being at the top the newst one and at the botton the first. I think that you can see that I have clearly improve :)</p>
    <p>Click on the left area to choose one project and see more information about it.</p>
</div>