<div class="row col-md-12">
    <h5>Personal Projects.</h5>
</div>
<div class="row col-md-12">
    <p>In this section you will find the personal projects in which I have worked in since I started to study the degree.</p>
    <p>I would like to remark that the projects are in chronological order, at top the newest and at the bottom my first project. With that you could se my improvement as profesional</p>
    <p>Click on the left area to choose one project and see more information about it.</p>
</div>