<mat-card>
    <mat-card-title>How to contact me</mat-card-title>
    <mat-card-content>
        <div class="row col-md-12">You can contact me through:</div>
        <mat-icon svgIcon="thumbs-up"></mat-icon>

    </mat-card-content>
</mat-card>

<!-- <h3>Contact:</h3>
<div class="row col-md-12">
<span>You can contact me through:</span>
</div>

<button type="button" mdbBtn class="btn-fb waves-light" mdbWavesEffect><i
        class="fab fa-facebook-f left"></i>Facebook</button>

<button type="button" mdbBtn class="btn-tw waves-light" mdbWavesEffect><i
        class="fab fa-twitter left"></i>Twitter</button>

<button type="button" mdbBtn class="btn-li waves-light" mdbWavesEffect><i
        class="fab fa-linkedin-in left"></i>Linkedin</button>

<button type="button" mdbBtn class="btn-git waves-light" mdbWavesEffect><i
        class="fab fa-github left"></i>Github</button>

<button type="button" mdbBtn class="btn-email waves-light" mdbWavesEffect><i
        class="fas fa-envelope left"></i>Email</button>

<button type="button" mdbBtn class="btn-dribbble waves-light" mdbWavesEffect><i
        class="fab fa-dribbble left"></i>Dribbble</button> 
 -->
