<nav class="navbar navbar-default header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Carlos Espino</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <ul routerLinkActive="active"><a routerLink="home">Home</a></ul>
                <ul routerLinkActive="active"><a routerLink="about-me">About me</a></ul>
                <ul routerLinkActive="active"><a routerLink="training">Training</a></ul>
                <ul routerLinkActive="active"><a routerLink="experience">Experience</a></ul>
                <ul routerLinkActive="active"><a routerLink="skills">Skills</a></ul>
                <ul routerLinkActive="active"><a routerLink="projects">Projects</a></ul>
            </ul>
        </div>
    </div>
</nav>