<div class="bgimg-2 w3-display-container w3-opacity-min">
    <div class="container top-5">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a routerLink="./{{ project }}" *ngFor="let project of projects"  class="bold">
                        {{ project }}
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>