<!-- <mat-sidenav-container class="sidenav-container"> -->
<mat-sidenav-container class="w3-top">
    <!-- <mat-sidenav #drawer fixedInViewport="false" -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [ngClass]="{hidden: !(isHandset$ | async)}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-nav-list>
        <a mat-list-item routerLink="home">Home</a>
        <a mat-list-item routerLink="about-me">About</a>
        <a mat-list-item routerLink="training">Training</a>
        <a mat-list-item routerLink="experience">Experience</a>
        <a mat-list-item routerLink="skills">Skills</a>
        <a mat-list-item routerLink="projects">Projects</a>
        <a mat-list-item routerLink="articles">Articles</a>
        <a mat-list-item routerLink="contact">Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <mat-toolbar color="primary"> -->
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <mat-nav-list *ngIf="!(isHandset$ | async)">
            <a routerLink="home">Home</a>
            <a routerLink="about-me">About</a>
            <a routerLink="training">Training</a>
            <a routerLink="experience">Experience</a>
            <a routerLink="skills">Skills</a>
            <a routerLink="projects">Projects</a>
            <a routerLink="articles">Articles</a>
            <a routerLink="contact">Contact</a>
        </mat-nav-list>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
