<!-- <mat-sidenav-container class="sidenav-container"> -->
<mat-sidenav-container class="w3-top">
    <!-- <mat-sidenav #drawer fixedInViewport="false" -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [ngClass]="{hidden: !(isHandset$ | async)}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-nav-list>
        <a mat-list-item routerLink="home" class="w3-bar-item w3-button"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
        <a mat-list-item routerLink="about-me" class="w3-bar-item w3-button"><i class="fa fa-user"></i>About</a>
        <a mat-list-item routerLink="training" class="w3-bar-item w3-button"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Training</a>
        <a mat-list-item routerLink="experience" class="w3-bar-item w3-button"><i class="fa fa-briefcase" aria-hidden="true"></i>Experience</a>
        <a mat-list-item routerLink="skills" class="w3-bar-item w3-button"><i class="fa fa-code" aria-hidden="true"></i>Skills</a>
        <a mat-list-item routerLink="projects" class="w3-bar-item w3-button"><i class="fa fa-folder" aria-hidden="true"></i>Projects</a>
        <a mat-list-item routerLink="articles" class="w3-bar-item w3-button"><i class="fa fa-pencil" aria-hidden="true"></i>Articles</a>
        <a mat-list-item routerLink="contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i>Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <mat-toolbar color="primary"> -->
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <mat-nav-list *ngIf="!(isHandset$ | async)">
            <a routerLink="home" class="w3-bar-item w3-button"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
            <a routerLink="about-me" class="w3-bar-item w3-button"><i class="fa fa-user"></i>About</a>
            <a routerLink="training" class="w3-bar-item w3-button"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Training</a>
            <a routerLink="experience" class="w3-bar-item w3-button"><i class="fa fa-briefcase" aria-hidden="true"></i>Experience</a>
            <a routerLink="skills" class="w3-bar-item w3-button"><i class="fa fa-code" aria-hidden="true"></i>Skills</a>
            <a routerLink="projects" class="w3-bar-item w3-button"><i class="fa fa-folder" aria-hidden="true"></i>Projects</a>
            <a routerLink="articles" class="w3-bar-item w3-button"><i class="fa fa-pencil" aria-hidden="true"></i>Articles</a>
            <a routerLink="contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i>Contact</a>
        </mat-nav-list>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
