<div *ngFor="let course of coursesList">
    <mat-card>
        <mat-card-title>{{ course.entity }}</mat-card-title>
        <mat-card-subtitle><b>Title: </b>{{ course.title }}</mat-card-subtitle>
        <mat-card-content>
            <div class="row">
                <div class="col-md-4" style="padding-right: 10%"><img mat-card-image src="{{ course.imageUrl }}"
                        alt="Photo of Course Logo"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">{{ course.info }}</div>
            </div>
            <div class="row">
                <div *ngIf="course.infoUrl != ''" class="col-md-12">
                    <a href="{{ course.infoUrl }}" target="_blank">See the title</a>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <hr>
</div>