<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
        <div class="text-box">
            <div class="custom-row">
                <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity custom-span">CARLOS <span>ESPINO</span></span>
            </div>
            <div class="custom-row">
                <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity w3-hide-small custom-span w3-hide-small">COMPUTER <span>ENGINEER</span></span>
            </div>
        </div>
        
    </div>
</div>

