<div data-aos="zoom-in" 
    data-aos-duration="2000">
    <div class="container">
        <img src="../../assets/images/tailandia1.JPG" alt="Tailandia" style="width: 100%;">
        <div class="centered">
            <div class="title">Who am I</div>
        </div>
    </div>
</div>
<div data-aos="fade-up-left" 
    data-aos-anchor-placement="top-center" 
    data-aos-duration="1000" class="margins">
    <p>My name is Carlos.</p>
    <p>I am a Computer Engineer and a Technical Architect.</p>
    <p>I am from Lanzarote, a lovely island that is part of the Canary Islands in Spain. I love to travel, play sports, meet
        with friends and eating.</p>
    <p>I first studied Technical Architect in the University of La Laguna, I had to go to another island, Tenerife, and it
        was quite a good time. However, after finishing it, there were not so much opportunities in my field because of the
        world crisis, so my wife an
        I decided to go to England and work as au-pairs to improve our english. We lived there for 8 months with a family
        and we
        use this time to travel around england and to meet lots of people</p>
</div>
<div data-aos="fade-up-right"  
    data-aos-anchor-placement="top-center"
    data-aos-duration="1000">
    <div class="two-images">
        <img src="../../assets/images/london1.jpg" alt="London" style="width: 100%;">
    </div>
    <div class="two-images">
        <img src="../../assets/images/obama.jpg" alt="Obama" style="width: 100%;">
    </div>
</div>
<div data-aos="fade-up-left" data-aos-anchor-placement="center-center" data-aos-duration="1000" class="margins">
    <p>When we came back to Spain, as still there were not so many opportunities, I decided to study another university
        degree while I worked, and I started my journey as a Computer Engineer.</p>
    <p>I think this was the right move because since I finished I have had a job.</p>
</div>
<div data-aos="zoom-in" data-aos-duration="2000">
    <div class="container">
        <img src="../../assets/images/image2.jpg" alt="Family" style="width: 100%;">
        <div class="centered">
            <div class="title">My family</div>
        </div>
    </div>
</div>
<div data-aos="fade-up-left" data-aos-anchor-placement="center-center" data-aos-duration="1000" class="margins">
    <p>I'm am happily married with my beautiful wife, Saray.</p>
    <p>She works in a public school as a teacher. I don't know if it should be a requirement to be funny to become a school teacher, but if it were she would meet the requierement by far hehe.</p>
</div>
<div data-aos="zoom-out-right" data-aos-anchor-placement="top-center" data-aos-duration="1000" class="clearfix">
    <div class="two-images">
        <img src="../../assets/images/saray.jpg" alt="Saray" style="width: 100%;">
    </div>
    <div class="two-images">
        <img src="../../assets/images/obama.jpg" alt="Obama" style="width: 100%;">
    </div>
</div>
<div data-aos="fade-up-left" data-aos-anchor-placement="top-center" data-aos-duration="1000" class="margins">
    <p>We have been together since we were 16, so we have come a long way together. We went to England and travel a lot.</p>
    <p>In 2017 we had a new addition to our family because our little daugther, Dayra, arrived.</p>
</div>

<div data-aos="zoom-out-right" data-aos-anchor-placement="center-center" data-aos-duration="1000" class="clearfix">
    <div class="two-images">
        <img src="../../assets/images/family1.jpg" alt="Family" style="width: 100%;">
    </div>
    <div class="two-images">
        <img src="../../assets/images/slovenia1.jpg" alt="Slovenia" style="width: 100%;">
    </div>
</div>
<div data-aos="zoom-in" data-aos-duration="2000">
    <div class="container">
        <img src="../../assets/images/tailandia2.JPG" alt="Tailandia" style="width: 100%;">
        <div class="centered">
            <div class="title">My hobbies</div>
        </div>
    </div>
</div>
<div data-aos="zoom-out" data-aos-anchor-placement="center-center" data-aos-duration="1000" class="margins">
    <p>As I mentioned before, I love to travel. I have already been in 13 countries.</p>
    <p>My favorite kind of trip is the one that you have no restricted itinerary, you just take your backpack with you and
        you move around the country staying more or less in each place depending if you like it or not.</p>
</div>

<div data-aos="zoom-out-right" data-aos-anchor-placement="top-center" data-aos-duration="1000" class="clearfix">
    <div class="two-images">
        <img src="../../assets/images/moscu1.JPG" alt="Moscu" style="width: 100%;">
    </div>
    <div class="two-images">
        <img src="../../assets/images/nepal1.jpg" alt="Nepal" style="width: 100%;">
    </div>
</div>
<div data-aos="zoom-out" data-aos-anchor-placement="center-center" data-aos-duration="1000" class="margins">
    <p>I have been in Europe, Asia and America. I will go to Africa and Oceania for sure.</p>
</div>
<div data-aos="zoom-out-right" data-aos-anchor-placement="top-center" data-aos-duration="1000" class="clearfix">
    <div class="two-images">
        <img src="../../assets/images/slovenia1.jpg" alt="Slovenia" style="width: 100%;">
    </div>
    <div class="two-images">
        <img src="../../assets/images/tailandia2.JPG" alt="Tailandia" style="width: 100%;">
    </div>
</div>
<div data-aos="zoom-out" data-aos-anchor-placement="center-center" data-aos-duration="1000" class="margins">
    <p>One of the things that I enjoy the most when I am travelling is the food, and in particular the streed food.</p>
</div>
<div data-aos="zoom-out-right" data-aos-anchor-placement="top-center" data-aos-duration="1000" class="clearfix">    
    <div class="two-images">
        <img src="../../assets/images/food2.jpg" alt="Food" style="width: 100%;">
    </div>
    <div class="two-images">
        <img src="../../assets/images/food3.jpg" alt="Food" style="width: 100%;">
    </div>
</div>
<div data-aos="zoom-out" data-aos-anchor-placement="center-center" data-aos-duration="1000" class="margins">
    <p>I am a very active and sociable person. I love to meet with friend to barbacue or go for a hike.</p>
</div>
<div data-aos="zoom-out-right" data-aos-anchor-placement="top-center" data-aos-duration="1000" class="clearfix">    
    <div class="two-images">
        <img src="../../assets/images/food1.jpg" alt="Food" style="width: 100%;">
    </div>
    <div class="two-images">
        <img src="../../assets/images/hiking.jpg" alt="Hike" style="width: 100%;">
    </div>
</div>
<div data-aos="zoom-out" data-aos-anchor-placement="center-center" data-aos-duration="1000" class="margins">
    <p>I love to play any kind of sport. I think that I have not found any sport that I don't like to play.</p>
</div>
<div data-aos="zoom-out-right" data-aos-anchor-placement="top-botom" data-aos-duration="1000" class="clearfix">
    <div class="two-images">
        <img src="../../assets/images/football.jpg" alt="Food" style="width: 100%;">
    </div>
    <div class="two-images">
        <img src="../../assets/images/sport.jpg" alt="Sport" style="width: 100%;">
    </div>
</div>
<div data-aos="zoom-out" data-aos-anchor-placement="top-botom" data-aos-duration="1000" class="margins">
    <p>If you want to find out more about me, keep reading the other sections.</p>
</div>