<div class="w3-content w3-container w3-padding-64">
    <h3 class="w3-center">Who am I</h3>
    <p class="w3-center"><em>My name is Carlos</em></p>
    <p>I am a Computer Engineer and a Technical Architect.</p>
    <p>I am from Lanzarote, a lovely island that is part of the Canary Islands in Spain. I love to travel, play sports, meet
        with friends and eating.</p>
    <div class="w3-row">
        <div class="w3-col m6 w3-center w3-padding-large">
            <img src="https://storage.googleapis.com/vcv-images/images/me.jpg"
                class="w3-round w3-image w3-hover-opacity" alt="Photo of Me" width="500" height="333">
        </div>

        <div class="w3-col m6 w3-hide-small w3-padding-large">
            <p>I first studied Technical Architect in the University of La Laguna. I had to go to another island, Tenerife, and it
                was quite a good time. However, after finishing it, there were not so many opportunities in my field because of the
                world crisis, so my girlfriend (now my wife) an
                I decided to go to England and work as au-pairs to improve our english. We lived there for 8 months with a family
                and we
                use this time to travel around england and to meet lots of people</p>
                <p>It was a great experience that I would recommend to anyone because taking aside the fact that this helped me with my english,
                it also made me to grow as a person.</p>
            </div>
        </div>
        <div class="w3-content w3-container w3-padding-64">
            <div class="w3-row-padding w3-center">
                <div class="w3-col m6">
                    <img src="https://storage.googleapis.com/vcv-images/images/london1.jpg"
                        style="width:100%" class="w3-hover-opacity" alt="London">
                </div>
                
                <div class="w3-col m6">
                    <img src="https://storage.googleapis.com/vcv-images/images/obama.jpg" 
                        style="width:100%" class="w3-hover-opacity" alt="Obama">
                </div>
            </div>
        </div>
    <p>When we came back to Spain, as still there were not so many opportunities, I decided to study another university
        degree while I was working, and this is how I started my journey as a Computer Engineer.</p>
    <p>I think this was the right move because since I finished I have had a job.</p>
    <p class="w3-large w3-center w3-padding-16">Things I am good at (leastways I think I am):</p>
    <p class="w3-wide"><i class="fa fa-cutlery" aria-hidden="true"></i>Cooking</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-futbol-o" aria-hidden="true"></i>Sports</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-bomb" aria-hidden="true"></i>Bad jokes</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
    </div>
    <h3 class="w3-center" style="margin-top: 5%;">My family</h3>
    <p class="w3-center"><em>The thing that I'm proud the most</em></p>
    <p>I'm am happily married with my beautiful wife, Saray.</p>
    <p>She works in a public school as a teacher. I don't know if it should be a requirement to be funny to become a school
        teacher, but if it were she would meet the requierement by far hehe.</p>
    <div class="w3-content w3-container w3-padding-64">
        <div class="w3-row-padding w3-center">
            <div class="w3-col m12">
                <img src="https://storage.googleapis.com/vcv-images/images/family2.jpg" 
                    style="width:100%" class="w3-hover-opacity" alt="Family">
            </div>
        </div>
    </div>
    <p>We have been together since we were 16, so we have come a long way together. We went to England and have travelled a lot.</p>
    <p>In 2017 we had a new addition to our family because our little daugther, Dayra, arrived.</p>
    <div class="w3-content w3-container w3-padding-64">
        <div class="w3-row-padding w3-center">
            <div class="w3-col m6">
                <img src="https://storage.googleapis.com/vcv-images/images/family1.jpg" 
                    style="width:100%" class="w3-hover-opacity" alt="Family2">
            </div>
    
            <div class="w3-col m6">
                <img src="https://storage.googleapis.com/vcv-images/images/family3.jpg" 
                    style="width:100%" class="w3-hover-opacity" alt="Family3">
            </div>
        </div>
    </div>
    <h3 class="w3-center">My Hobbies</h3>
    <p class="w3-center"><em>Travel, Sports, Food... I don't know what to choose</em></p>
    <p>As I mentioned before, I love to travel. I have already been in 13 countries.</p>
    <div class="w3-row w3-center w3-dark-grey w3-padding-16">
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">9</span><br>
            Trips
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">13</span><br>
            Countries
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">3</span><br>
            Continents
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">8</span><br>
            Capitals
        </div>
    </div>
    <div class="w3-content w3-container w3-padding-64">
        <div class="w3-row-padding w3-center">
            <div class="w3-col m12">
                <img src="https://storage.googleapis.com/vcv-images/images/tailandia2.JPG"
                    style="width:100%" class="w3-hover-opacity" alt="Thailandia">
            </div>
        </div>
    </div>
    <p>My favorite kind of trip is the one that you have no restricted itinerary, you just take your backpack with you and
     move around the country staying more or less in each place depending whether you like it or not.</p>
    <div class="w3-content w3-container w3-padding-64">
        <div class="w3-row-padding w3-center">
            <div class="w3-col m6">
                <img src="https://storage.googleapis.com/vcv-images/images/moscu1.JPG"
                    style="width:100%" class="w3-hover-opacity" alt="Moscu">
            </div>
    
            <div class="w3-col m6">
                <img src="https://storage.googleapis.com/vcv-images/images/nepal1.jpg"
                    style="width:100%" class="w3-hover-opacity" alt="Nepal">
            </div>
        </div>
    </div>
    <p>I have been in Europe, Asia and America. I will go to Africa and Oceania for sure.</p>

    <div class="w3-content w3-container w3-padding-64">
        <div class="w3-row-padding w3-center">
            <div class="w3-col m6">
                <img src="https://storage.googleapis.com/vcv-images/images/slovenia1.jpg"
                    style="width:100%" class="w3-hover-opacity" alt="Slovenia">
            </div>
    
            <div class="w3-col m6">
                <img src="https://storage.googleapis.com/vcv-images/images/venecia.jpg"
                    style="width:100%" class="w3-hover-opacity" alt="Venecia">
            </div>
        </div>
    </div>
    <p>One of the things that I enjoy the most when I am travelling is the food, and in particular the streed food.</p>
    <div class="w3-content w3-container w3-padding-64">
        <div class="w3-row-padding w3-center">
            <div class="w3-col m6">
                <img src="https://storage.googleapis.com/vcv-images/images/food2.jpg"
                    style="width:100%" class="w3-hover-opacity" alt="Food">
            </div>
    
            <div class="w3-col m6">
                <img src="https://storage.googleapis.com/vcv-images/images/food3.jpg"
                    style="width:100%" class="w3-hover-opacity" alt="Food">
            </div>
        </div>
    </div>
    <p>I am a very active and sociable person. I love to meet with friend to barbacue or go for a hike.</p>
    <div class="w3-content w3-container w3-padding-64">
        <div class="w3-row-padding w3-center">
            <div class="w3-col m6">
                <img src="https://storage.googleapis.com/vcv-images/images/food1.jpg"
                    style="width:100%" class="w3-hover-opacity" alt="Food">
            </div>
    
            <div class="w3-col m6">
                <img src="https://storage.googleapis.com/vcv-images/images/hiking.jpg"
                    style="width:100%" class="w3-hover-opacity" alt="Hiking">
            </div>
        </div>
    </div>
    <p>I love to play any kind of sport. I think that I have not found any sport that I don't like to play.</p>
    <div class="w3-content w3-container w3-padding-64">
        <div class="w3-row-padding w3-center">
            <div class="w3-col m6">
                <img src="https://storage.googleapis.com/vcv-images/images/football.jpg"
                    style="width:100%" class="w3-hover-opacity" alt="football">
            </div>
    
            <div class="w3-col m6">
                <img src="https://storage.googleapis.com/vcv-images/images/sport.jpg"
                    style="width:100%" class="w3-hover-opacity" alt="Sport">
            </div>
        </div>
    </div>
    <p>If you want to find out more about me, keep reading the other sections.</p>

</div>

